<header class="flex border-b border-slate-600">
    <img class="w-2/12 border-r border-slate-600" src="https://boxfirespain.com/wp-content/uploads/2023/04/cropped-BoxFireLogo-e1681747517743-1.jpeg" alt="BoxFire Spain" />
    <div class="w-full">
        <p class="text-right w-full border-b border-slate-600 block p-3 uppercase">haz una clase gratis</p>
    <nav>
        <ul>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Historia</a></li>
            <li><a href="/#">Contacto</a></li>
        </ul>
    </nav>
    </div>
</header>

<style>

    nav {
        padding: 1.3rem;
    }
    nav ul {
        padding: 0;
        margin: 0;
        display: flex;
        height: 20px;
    }

    nav li {
        padding: 1rem;
        
    }

    nav li:hover {
        text-decoration: underline;
        border: 2rem;
    }
</style>